[submodule "dotvim/bundle/python-mode"]
	path = dotvim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "dotvim/bundle/L9"]
	path = dotvim/bundle/L9
	url = git://github.com/vim-scripts/L9.git
        ignore = dirty
[submodule "dotvim/bundle/gist-vim"]
	path = dotvim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "dotvim/bundle/delimitMate"]
	path = dotvim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "dotvim/bundle/tagbar"]
	path = dotvim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "dotvim/bundle/tlib_vim"]
	path = dotvim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "dotvim/bundle/vim-abolish"]
	path = dotvim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "dotvim/bundle/vim-addon-mw-utils"]
	path = dotvim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "dotvim/bundle/vim-bufsurf"]
	path = dotvim/bundle/vim-bufsurf
	url = git://github.com/ton/vim-bufsurf.git
[submodule "dotvim/bundle/vim-commentary"]
	path = dotvim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "dotvim/bundle/vim-fugitive"]
	path = dotvim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dotvim/bundle/vim-repeat"]
	path = dotvim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "dotvim/bundle/vim-surround"]
	path = dotvim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "dotvim/bundle/vim-unimpaired"]
	path = dotvim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "dotvim/bundle/webapi-vim"]
	path = dotvim/bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "dotvim/bundle/vim-togglelist"]
	path = dotvim/bundle/vim-togglelist
	url = git://github.com/ihameed/vim-togglelist.git
[submodule "dotvim/bundle/Rainbow-Parentheses-Improved-and2"]
	path = dotvim/bundle/Rainbow-Parentheses-Improved-and2
	url = git://github.com/vim-scripts/Rainbow-Parentheses-Improved-and2.git
[submodule "dotvim/bundle/VST"]
	path = dotvim/bundle/VST
	url = git://github.com/vim-scripts/VST.git
[submodule "dotvim/bundle/rest.vim"]
	path = dotvim/bundle/rest.vim
	url = git://github.com/vim-scripts/rest.vim.git
[submodule "dotvim/bundle/RST-Tables"]
	path = dotvim/bundle/RST-Tables
	url = git://github.com/vim-scripts/RST-Tables.git
[submodule "dotvim/bundle/vim-space"]
	path = dotvim/bundle/vim-space
	url = git://github.com/jfelchner/vim-space.git
[submodule "dotvim/bundle/vim-indent-object"]
	path = dotvim/bundle/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "dotvim/bundle/Enter-Indent"]
	path = dotvim/bundle/Enter-Indent
	url = git://github.com/vim-scripts/Enter-Indent.git
        ignore = dirty
[submodule "dotvim/bundle/vim-git"]
	path = dotvim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
    ignore = dirty
[submodule "dotvim/bundle/httplog"]
	path = dotvim/bundle/httplog
	url = git://github.com/vim-scripts/httplog.git
[submodule "dotvim/bundle/neocomplcache"]
	path = dotvim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "dotvim/bundle/ctrlp"]
	path = dotvim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "dotvim/bundle/ctrlp-funky"]
	path = dotvim/bundle/ctrlp-funky
	url = git://github.com/tacahiroy/ctrlp-funky.git
    ignore = dirty
[submodule "dotvim/bundle/haskellmode-vim"]
	path = dotvim/bundle/haskellmode-vim
	url = git://github.com/lukerandall/haskellmode-vim.git
[submodule "dotvim/bundle/haskell.vim"]
	path = dotvim/bundle/haskell.vim
	url = git://github.com/vim-scripts/haskell.vim.git
[submodule "dotvim/bundle/syntastic"]
	path = dotvim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "dotvim/bundle/neco-ghc"]
	path = dotvim/bundle/neco-ghc
	url = git://github.com/ujihisa/neco-ghc.git
[submodule "dotvim/bundle/neocomplcache-ultisnips"]
	path = dotvim/bundle/neocomplcache-ultisnips
	url = https://github.com/JazzCore/neocomplcache-ultisnips.git
[submodule "dotvim/bundle/vim-indent-guides"]
	path = dotvim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "dotvim/bundle/vim-dispatch"]
	path = dotvim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "dotvim/bundle/csapprox"]
	path = dotvim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "dotvim/bundle/tabular"]
	path = dotvim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "dotvim/bundle/CoVim"]
	path = dotvim/bundle/CoVim
	url = https://github.com/FredKSchott/CoVim.git
        ignore = dirty
[submodule "dotvim/bundle/undotree"]
	path = dotvim/bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "dotvim/bundle/vim-coffee-script"]
	path = dotvim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "dotvim/bundle/unite.vim"]
	path = dotvim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "dotvim/bundle/unite-outline"]
	path = dotvim/bundle/unite-outline
	url = https://github.com/h1mesuke/unite-outline.git
[submodule "dotvim/bundle/unite-help"]
	path = dotvim/bundle/unite-help
	url = https://github.com/tsukkee/unite-help.git
[submodule "dotvim/bundle/unite-tag"]
	path = dotvim/bundle/unite-tag
	url = https://github.com/tsukkee/unite-tag.git
[submodule "dotvim/bundle/unite-session"]
	path = dotvim/bundle/unite-session
	url = https://github.com/Shougo/unite-session.git
[submodule "dotvim/bundle/vim-lesscss"]
	path = dotvim/bundle/vim-lesscss
	url = git@github.com:OliverUv/vim-lesscss.git
[submodule "dotvim/bundle/vim-less"]
	path = dotvim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "dotvim/bundle/vim-css-color"]
	path = dotvim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "dotvim/bundle/vim-css3-syntax"]
	path = dotvim/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "dotvim/bundle/colorv.vim"]
	path = dotvim/bundle/colorv.vim
	url = https://github.com/vim-scripts/colorv.vim.git
[submodule "dotvim/bundle/jedi-vim"]
	path = dotvim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "dotvim/bundle/vim-javascript"]
	path = dotvim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "dotvim/bundle/vim-scala"]
	path = dotvim/bundle/vim-scala
	url = https://github.com/tobym/vim-scala.git
[submodule "dotvim/bundle/vim-unite-history"]
	path = dotvim/bundle/vim-unite-history
	url = https://github.com/thinca/vim-unite-history.git
[submodule "dotvim/bundle/gruvbox"]
	path = dotvim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "dotvim/bundle/vim-jade"]
	path = dotvim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "dotvim/bundle/vim-fswitch"]
	path = dotvim/bundle/vim-fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "dotvim/bundle/vim-sneak"]
	path = dotvim/bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "dotvim/bundle/vim-maximizer"]
	path = dotvim/bundle/vim-maximizer
	url = https://github.com/szw/vim-maximizer.git
[submodule "dotvim/bundle/clang_complete"]
	path = dotvim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "dotvim/bundle/neocomplete.vim"]
	path = dotvim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "dotvim/bundle/context_filetype.vim"]
	path = dotvim/bundle/context_filetype.vim
	url = https://github.com/Shougo/context_filetype.vim.git
        ignore = dirty
[submodule "dotvim/bundle/vim-glsl"]
	path = dotvim/bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
[submodule "dotvim/bundle/vim-capslock"]
	path = dotvim/bundle/vim-capslock
	url = https://github.com/tpope/vim-capslock.git
[submodule "dotvim/bundle/php.vim"]
	path = dotvim/bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "dotvim/bundle/targets.vim"]
	path = dotvim/bundle/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "dotvim/bundle/vim-sparkup"]
	path = dotvim/bundle/vim-sparkup
	url = https://github.com/tristen/vim-sparkup.git
[submodule "dotvim/bundle/unite-neocomplete-ultisnips"]
	path = dotvim/bundle/unite-neocomplete-ultisnips
	url = https://github.com/skeept/Ultisnips-neocomplete-unite.git
[submodule "dotvim/bundle/ultisnips"]
	path = dotvim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "dotvim/bundle/unite-quickfix"]
	path = dotvim/bundle/unite-quickfix
	url = https://github.com/osyo-manga/unite-quickfix.git
