[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "floating_fzf"]
	path = floating_fzf
	url = https://github.com/stagnation/floating_fzf.git
